/* mit colorbrewer gearbeitet */
body {
    max-width: 90%;
    margin: auto;
    /* Im body richtet sich alles mittig aus*/
    margin-top: 1em;
    margin-bottom: 1.5em;
    line-height: 1.1;
    text-align: justify; /*schöner rand der Paragraphen*/
    background-color: #f0f0f0;
}
/* roboto-mono-regular - cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('roboto-mono-v13-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('roboto-mono-v13-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-600 - cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('roboto-mono-v13-cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('roboto-mono-v13-cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
img {
    max-width: 90%;
    margin: 0 auto;
}
.start-nav,
.tour-nav {
    width: 100%;
    background: #1c9099;
}
.start-toplist,
.tour-toplist {
    width: 90%;
    margin: 0 auto;
    /* Menüpunkte werden gleichmäßig verteilt im Bereich - richtet sich mittig aus*/
    padding: 0;
    text-align: center;
}
.start-toplist li,
.tour-toplist li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}
.start-toplist li:hover,
.tour-toplist li:hover {
    background: #e91e63;
    text-decoration: underline;
}
.start-toplist li a, 
.tour-toplist li a {
    color: #fff;
    text-decoration: none;
}
.start-div {
    width: 100px;
    height: 40px;
    background-color: black;
}
@media (max-width:1000px) {
    * {
        font-size: 30px;
    }
    .start-toplist, 
    .tour-toplist {
        width: 90%;
    }  
    .start-toplist li, 
    .tour-toplist li {
        display: block;
        text-align: center;
    }
    .songtext {
        padding: 10px 150px 200px;
    }
    .start-div {
        padding-left: 10px;
        padding-right: 90px;
        padding-bottom: 25px;      
    }
    .testo {
        padding-bottom: 2em;
    }
}
.start-header {
    text-align: center;
}
.songtext {
    width: 60%;
    height: 250px;
    margin: 100px auto;
    background-color: white;
    border-radius: 15px;
}
.articleheadline {
    margin-top: 2.5em;
}
.quellenangabe {
    background-color: #f0f0f0;
    padding: 1.7em;
    text-align: center;
    border: 8px solid #1c9099;
}
.bio-header {
    width: 100%;
    padding: 0.1px;
    color: #fff; 
    background-color: #1c9099;
}
.bio-bottomlist,
.bio-toplist,
.start-bottomlist {
    list-style: none; 
}
.bio-footer a:visited,
.bio-topnav a:visited,
.start-bottomlist a:visited {
    color: #c51b8a;
}
.bio-footer a:hover,
.bio-footer a:focus,
.bio-topnav a:hover,
.bio-topnav a:focus,
.start-bottomlist a:hover,
.start-bottomlist a:focus{
    color: #fe9929;
    text-decoration: underline;
}
.bio-footer a:active,
.bio-topnav a:active,
.start-bottomlist a:active {
    color: #a50f15;
}
.tour-topdiv {
    width: 120px;
    height: 40px;
    background-color: black;
}
.bio-float {
    width: 25%;
    height: 250px;
    float: left;
    margin: 0 auto;
}
.bio-rfloat {
    height: 250px;
    float: right;
    margin: 0 auto;
    padding-left: 35px;
}

.tour-sec {
    width: 30%;
    height: 450px;
    float: left;
    margin: 0 auto;
    padding-top: 5em;
    text-align: center;
}
.tour-zent,tours-zent {
    text-align: center;
}
.tour-table {
    width: 90%;
    border-collapse: collapse;
    /*für eine einzige border und nicht mehrere*/
}
.tour-table td,
.tour-table th,
.tour-table tr {
    padding: 6px 9px;
    border: 3px solid #1c9099;
    text-align: center;
    font-size: 16px;
}
@media (max-width: 1000px) {
    .bio-float, .bio-rfloat {
        display: block;
        width: 100%;
        text-align: center;
    }
    .bio-float img, .bio-rfloat img {
        width: 80%;
        height: 400px;
    }
    .bio-div p {
        padding-top: 500px;  
    }
}
@media (max-width: 1000px) {
    .tour-sec {
        display: block;
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 1000px) {
    .tour-table thead {
        display: none;
        /* tabellen überschriften werden nicht angezeigt bei verkleinerung*/
    }
    .tour-table tr, .tour-table td {
        display: block;
        width: 90%;
        margin: auto;
    }
    .tour-table tr {
        margin-bottom: 15px;
    }
}