/* mit colorbrewer gearbeitet */
body {
    max-width: 90%;
    margin: auto;
    margin-top: 1em;
    line-height: 1;
    /* Responsive Design */
}/*
body {
    margin: 0;
    padding: 0;
    max-width: 90%;
}*/
img {
    max-width: 90%;
    margin: 0 auto;
}
.start-nav,
.tour-nav {
    width: 100%;
    background: #1c9099;
}
.start-toplist,
.tour-toplist {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
.start-toplist li,
.tour-toplist li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}
.start-toplist li:hover,
.tour-toplist li:hover {
    background: #e91e63;
    text-decoration: underline;
}
.start-toplist li a, 
.tour-toplist li a {
    color: #fff;
    text-decoration: none;
}
@media (max-width:1000px) {
    .start-toplist, 
    .tour-toplist {
        width: 90%;
    }  
    .start-toplist li, 
    .tour-toplist li {
        display: block;
        text-align: center;
    }
}
.start-header {
    text-align: center;
}
.articleheadline {
    margin-top: 2.5em;
}
.quellenangabe {
    background-color: #f0f0f0;
    padding: 1.7em;
    text-align: center;
    border: 8px solid cadetblue;
}
.bio-bottomlist {
    list-style: none; 
}
.bio-footer a:link {
    color: #045a8d;
}
.bio-footer a:visited {
    color: #2b8cbe;
}
.bio-footer a:hover,
.bio-footer a:focus {
    color: #fe9929;
    text-decoration: underline;
}
.bio-footer a:active {
    color: #a50f15;
}
.tour-sec {
    border-color: #1c9099;
    border-width: 5px;
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
    text-align: center;
    width: 70%;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    background-color: #f0f0f0;
}
.tour-table {
    width: 90%;
    border-collapse: collapse;
}
.tour-table td,
.tour-table th,
.tour-table tr {
    padding: 6px 9px;
    border: 3px solid #1c9099;
    text-align: center;
    font-size: 16px;
    background-color: #f0f0f0;
}
/*.tour-table tr {
    background-color: #f0f0f0;
}*/
@media (max-width: 1000px) {
    .tour-table thead {
        display: none;
    }
    .tour-table, .tour-table tbody, .tour-table tr, .tour-table td {
        display: block;
        width: 90%;
    }
    .tour-table tr {
        margin-bottom: 15px;
    }
}