/* mit colorbrewer gearbeitet */
body {
    font-family: sans-serif;
    font-weight: 300;
    width: 100%;
    margin: auto;
    /* Im body richtet sich alles mittig aus*/
    margin-bottom: 1.5em;
    line-height: 1.6;
    text-align: justify; /*einheitlicher rand der Paragraphen*/
    background-color: #f0f0f0;
}
/* roboto-mono-regular - cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('roboto-mono-v13-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('roboto-mono-v13-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-600 - cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('roboto-mono-v13-cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('roboto-mono-v13-cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



.roboto {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2em;
}
main{
   width: 90%;
   margin: auto;
   font-size: 100%;
}
img {
    max-width: 100%;
    margin: 0 auto;
}



/*Startseite*/
.start-nav,
.tour-nav {
    width: 100%;
    background: #1c9099;
}
.start-toplist,
.tour-toplist {
   width: 100%;
   margin-right: 0;
   padding-left: 0;
    /* Menüpunkte werden gleichmäßig verteilt im Bereich - richtet sich mittig aus*/
   text-align: center;
   font-size: 1.4em;
   word-spacing: 30px;
}
.start-toplist li,
.tour-toplist li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}
.start-toplist li:hover,
.tour-toplist li:hover {
    background: #e91e63;
    text-decoration: underline;
}
.start-toplist li a, 
.tour-toplist li a {
    color: #fff;
    text-decoration: none;
}



ul{
   list-style: none;
}
a{
   text-decoration: none;
}



/*Startseite*/
.start-header {
    text-align: center;
}
.songtext {
   width: 60%;
   height: 160px;
   margin: 100px auto;
   padding-top: 14px;
    padding-bottom: 25px;
   background-color: white;
   border-radius: 15px;
}
.songinhalt {
    text-align: center;
}
.articleheadline {
    margin-top: 2.5em;
}



/*Biografie*/
.bio-header {
    width: 100%;
    height: 40px;
    color: #fff; 
    background-color: #1c9099;
    text-align: center
}

.bio-float {
    width: 350px;
    height: 250px;
    float: left;
    margin: 0 auto;
}
.bio-rfloat {
    height: 250px;
    float: right;
    margin: 0 auto;
    padding-left: 35px;
}



/*Tour*/
.tour-sec {
    width: 30%;
    height: 450px;
    float: left;
    margin: 0 auto;
    padding-top: 5em;
}
.tour-zent,tours-zent {
    margin: auto;
    text-align: center;
}
.diskografie-table {
    width: 90%;
    border-collapse: separate;
    /*für eine getrennte border*/
}
.diskografie-table td,
.diskografie-table th,
.diskografie-table tr {
    padding: 6px 9px;
    border: 3px solid #1c9099;
    text-align: center;
    font-size: 16px;
}
.tabelle-ueberschrift {
   background-color: gainsboro; 
}
.diskografie-table tbody tr:nth-child(even) {
   background-color: floralwhite;
   color: #000;
}



/*Mitglieder*/
.box{
   display: flex;
   margin: auto;
   padding: 10px;
}
.row {
   display: flex;
   margin-top: 0;
   margin-bottom: 0;
}
/*Richtige Positionierung der Überschrift*/
.ueberschrift{
   float: left;
   
   line-height: 25px;
   width: 100%;
   margin-left: 20px;
}
/*Kurze Beschreibung der Mitglieder, die Mittig stehen soll.*/
.mitg_distract{
   margin: 10px;
   padding: 2em;
   text-align: center;
}
/*Die einzelnen Bilder richtige Position*/
.column {
   position: relative;
   float: left;
   width: 50%;
   flex: 50%;
}
/*Damit das overlay nicht über die untere Kante geht*/
.image{
   display: block;
   width: 100%;
   height: auto;
}
.overlay{
  position: absolute; /*keine änderung der position*/
  bottom: 0; /*Anzeigen der caption im bild*/
  background: rgba(0, 0, 0, 0.5); /*Hintergrund soll leicht durchsichtig sein*/
  color: #f1f1f1; /*Farbe der Schrift*/
  width: 100%; /*Breite des Bildes*/
  transition: .3s ease; /*Wie schnell die caption auftaucht*/
  opacity: 0; /*Wichtig um den rollover Effekt zuhaben*/
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}
/*Damit der Rollover Effekt funktioniert
Hover ist "aktiviert" wenn man auf der Seite mit der Maus drüber fährt*/
.column:hover .overlay{
   opacity: 1
}



/*Einzelne Mitglieder*/
.Steckbrief{
   margin: 2em;
   padding-left: 45px;
   padding-right: 4em;
   line-height: 1.6;
}
ul.Steckbrief li b{
   display: flex; /*Damit das in der jeweiligen nächsten Zeile angezeigt wird.*/
}
button{
   background: #1c9099;
   display: inline-block; /*Damit der button eine eigene neue Zeile einnimmt*/
   color: #fff; /*Farbe der Schrift*/
   border-radius: 5px; /*Weichere Kanten des Button*/
   padding: 20px; /*Größe des button*/
   margin-left: 6em; /*Richtiger Abstand zum Steckbrief inhalt*/
   margin-bottom: 1em; /*Richtiger Abstand zum Steckbrief inhalt*/
   border: none; /*keine Umrandung*/
   
}
button:hover{
   background-color: #e91e63;
   color: #fff;
}



/* Auszeichnung - sofern nicht von Biografie entnommen */
.auszeich-sec {
    padding-bottom: 450px;
    width: 80%;
}
.auszeich-float {
    width: 700px;
    height: 250px;
    float: left;
    margin: 0 auto;
}
.auszeich-rfloat {
    width: 400px;
    height: 250px;
    float: right;
    margin: 0 auto;
}


/*Das ist das Design für das Impressum, um Einrückungen zu machen und somit die Seite übersichtlicher wird.*/
.impr_design{
   padding-left: 1em;
   padding-right: 3em;
   position: relative;
}
.impr_logo{
   position: absolute;
   width: 30%;
   float: right;
   margin-left: 55%;
   margin-right: 10%;
}



/*Alle internen Hyperlinks die unten stehen*/
.link{
   margin-left: 3%;
   margin-top: 2%;
   margin-bottom: 10px;
   color: #1c9099;
}
.link a{
   color: #1c9099;
   text-decoration: none
}
.link:visited{
   color: #e91e63;
}
.link:hover,
.link:focus{
   color: #fe9929;
}
.link:active{
   color: #a50f15;
}

footer {
   display: block;
   position: absolute;
   width: 100%;
   margin-top: 2em;
   background-color: #e91e63;
   padding-bottom: 1.5em;
   padding-top: 1.5em;
}
.foot_impressum{
   padding-left: 2em;
   padding-right: 2em;
}
.lfloat{
   float: left;
   color: white;
}
.rfloat {
   float: right;
   color: white;
}




@media screen and (max-width: 1000px)  {
       * {
      font-size: 25px;
   }
    
    .roboto {
        margin-top: 60px;
    }
   .bio-float,
   .bio-rfloat,
   .auszeich-float,
    .auszeich-rfloat{
      display: block;
      width: 100%;
      text-align: center;
   }
   .bio-float img, 
   .bio-rfloat img,
   .auszeich-float img
    .auszeich-rfloat img {
      width: 70%;
      height: 450px;
   }
   .bio-div p {
      padding-top: 550px;
   }
    .auszeich-list {
        padding-top: 550px;
    }
    .auszeich-sec {
        padding-bottom: 200px;
    }
   .start-toplist, 
   .tour-toplist {
      width: 100%;
   }
   .start-toplist li,
   .tour-toplist li {
      display: block;
      text-align: center;
   }
   .tour-sec {
      display: block;
      width: 90%;
      text-align: center;
      margin-bottom: 200px;
   }
    .tour-zent {
        font-size: 12px;
    }
   .songtext {
      padding: 10px 150px 200px;
   }
   .roboto {
      font-size: 32.4px;
   }
   ul.Steckbrief li b {
      display: flex;
   }
   img {
      width: 80%;
   }
   figcaption{
      font-size: 0.8em;
   }
   .diskografie-table thead {
      display: none;/*Tabellen überschriften werden nicht angezeigt bei verkleinerung*/
    }
   .diskografie-table tr, .diskografie-table td {
      display: block;
      width: 90%;
      margin: auto;
    }
   .diskografie-table tr {
      margin-bottom: 15px;
    }
   .tour-sec {
      display: block;
      width: 90%;
      text-align: center;
      padding-bottom: 150px
    }
   .overlay {
      opacity: 1; /*Kleinerer Bildschirm bei Mitgliedern Bildbeschriftung immer zu sehen.*/
   }
   .row {
      display: revert;
   }
   main{
      font-size: 1em;
   }
   ul{
      font-size: 0.9em;
   }
   li b{
      font-size: 1.1em;
   }
   h1{
      font-size: 3em;
   }
   h2{
      font-size: 2.3em;
   }

}
@media screen and (max-width: 1250px) {
    
    .auszeich-float,
    .auszeich-rfloat{
      display: block;
      width: 80%;
      
   }
    .auszeich-float img,
    .auszeich-rfloat img {
        width: 90%;
        height: 450px;
        
   }
    .auszeich-list {
        padding-top: 550px;
        
    }
    .auszeich-list ol {
        padding-top: 550px;
        
    }
    .auszeich-sec {
        padding-bottom: 100px;
    }
}