* {background-color: antiquewhite}
h1 {
    font-family: fantasy;
    padding: 20px;
    border-color: cadetblue;
    border-style: groove;
    text-align: center;
}
p {width: 89%; height: 25px; padding: 10px; margin: 10px;}
#Erste, #Zweite, #Dritte, #Vierte, #Fünfte, #Sechste {
    padding: 20px;
    border-color: black;
    border-style:solid;
    border-radius: 10px;
    list-style-type: none;
    background-color:  aliceblue;
    width: 450px;
    padding-right: 10%;
    margin-right: 10%;
}
ul, li,a {
    background-color: aliceblue;
    border-color: aqua;
    font-family: cursive;
    text-decoration: none;
    /* keine linie unter den Links*/
    /* mit display: inline kann man die links nebeneinander packen */
}
table a {
    background-color: antiquewhite; !important;
    font-family: sans-serif;
}